backend/src/db/sequelize.js

# Ignorar archivos de entorno
backend/.env
backend/uploads
backend/.env.*
frontend/.env
frontend/.env.*
.env
.env.*
# Permitir archivos de ejemplo
!.env.example
!backend/.env.example
!frontend/.env.example
